
@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Default/GetEmployees",
            type: "GET",
            dataType: "json",
            success: function (empdata) {
                $.each(empdata, function (key, item) {
                    $("#tbl").append("<tr>"
                        + "<td>" + item.emp_id+"</td>"
                        + "<td>" + item.f_name+"</td>"
                        + "<td>" + item.salary+"</td>"
                        + "<td>" + item.email+"</td>"
                        + "<td>" + item.mobile+"</td>"
                        + "<td>" + item.gender+"</td>"
                        + "<td><a href='/Default/Edit/" + item.emp_id + "'>Edit</a> | "
                        + "<a href='/Default/Details/" + item.emp_id + "'>Details</a> | "
                        + "<a href='#' onclick='deleteRecord(" + item.emp_id+")' >Delete</a>"
                        + "</td>"

                        + "</tr>");
                });
            }
        });
    });

    function deleteRecord(empid) {
        if (confirm("Are you sure you want to delete this?")) {
            $.ajax({
                url: "/Default/Delete",
                type: "GET",
                data: { id: empid },
                dataType: "text",
                success: function (msg) {
                    alert(msg);
                    window.location.href = "/Default/Index";
                }
            });
        }
    }
</script>

<h2>Index</h2>
<br />
<p>
    <a href="/Default/Create">Create New</a>
</p>

<table id="tbl" class="table">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
    </tr>

</table>